---
/**
 * index.astro - SONORA 高端音響品牌首頁
 * Awwwards 級別的 Scrollytelling 體驗
 */
import Layout from "../layouts/Layout.astro";
import Navigation from '../components/Navigation.astro';
import HeroSection from '../components/HeroSection.astro';
import ScrollytellingSection from '../components/ScrollytellingSection.astro';
---

<Layout title="SONORA - 聆聽的藝術 | 高端音響設備">
  <Navigation />
  <main>
    <HeroSection />
    <ScrollytellingSection />
  </main>
</Layout>

<style>
  main {
    position: relative;
    overflow-x: hidden;
  }
</style>
